/* NAVBAR Start */
.navbar {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  width: 100px;
}

.logo span {
  font-size: 18px;
  font-weight: 600;
  color: #1f2937;
}

/* Menu */
.nav-menu {
  display: flex;
  gap: 30px;
}

.nav-menu a {
  text-decoration: none;
  font-size: 15px;
  color: #374151;
  font-weight: 500;
}

.nav-menu a:hover {
  color: #22c55e;
}

/* Button */
.btn-primary {
  background-color: #2f855a;
  color: #ffffff;
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.btn-primary:hover {
  background-color: #276749;
}


/*Navbar End*/

/*Hero section Start*/
.hero {
  width: 100%;
    /* hero height only */
  
  background-image: url("images/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
    
}
/* Dark overlay */
.hero-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(15, 23, 42, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Content */
.hero-content {
  max-width: 800px;
  padding: 20px;
  color: #ffffff;
}

/* Badge */
.hero-badge {
  display: inline-block;
  background-color: #ffffff;
  color: #16a34a;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 20px;
}

/* Heading */
.hero-content h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.3;
}

.hero-content h1 span {
  color: #22c55e;
}

/* Paragraph */
.hero-content p {
  font-size: 16px;
  color: #e5e7eb;
  line-height: 1.7;
  margin-bottom: 30px;
}

/* Buttons */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.btn-secondary {
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.btn-secondary:hover {
  background-color: #ffffff;
  color: #1f2937;
}

/*Hero section End*/


/*Note Section start*/
.note-section {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 15px;
  
}


.note-section h2 {
  font-size: 48px;
  margin-bottom: 10px;
}
.note-section p {
  color: #627382;
}
/*Note Section end*/




/*Cards */
.cards-section {
  padding: 80px 60px;
  background: #f9fafb;
  font-family: 'Inter', sans-serif;
}
.cards-header {
  text-align: center;
  margin-bottom: 50px;
}
.cards-container {
  display: flex;
  gap: 20px;
  justify-content: center;

}
.cards-container p {
 font-size: 14px;
 color: #627382;

}
.cards-container h3{
 font-size: 22px;
 font-weight: 800;
}
.card {
  background: #fff;
  padding: 30px 20px;
  width: 260px;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}
.card-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-icon img {
  width: 30px;
}
.one { background: #df1c1c; }
.two { background: #df1c1c; }
.three { background: #df1c1c; }
.four { background: #df1c1c; }

/*Cards ends */

/*Content section*/
.image-text-section {
   width: 100%;
  padding: 100px 0;
  background: #ffffff;
  font-family: 'Inter', sans-serif;

  
}
.image-text-container {
  max-width: 1060px;   /* instead of width */
  margin: 0 auto;
   display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.image-box img {
  width: 420px;
}
.section-label {
 color: #2fa36b;
  font-weight: bold;
  letter-spacing: 1px;
}
.text-box h2 {
  font-size: 34px;
  margin: 10px 0 15px;
}

.text-box p {
  color: #4b5563;
  line-height: 1.7;
}
.text-box ul {
  margin-top: 20px;
  padding: 0;
}
.text-box li {
  mdisplay: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: 12px;
  list-style: none;
}

.text-box li img {
  width: 20px;
}
/*Content section ends*/

