/* NAVBAR Start */
.navbar {
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #eaeaea;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  width: 100px;
}

.logo span {
  font-size: 18px;
  font-weight: 600;
  color: #1f2937;
}

/* Menu */
.nav-menu {
  display: flex;
  gap: 30px;
}

.nav-menu a {
  text-decoration: none;
  font-size: 15px;
  color: #374151;
  font-weight: 500;
}

.nav-menu a:hover {
  color: #22c55e;
}

/* Button */
.btn-primary {
  background-color: #2f855a;
  color: #ffffff;
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.btn-primary:hover {
  background-color: #276749;
}


/*Navbar End*/

/*Hero section Start*/
.hero {
  width: 100%;
  min-height: 60vh;   /* hero height only */
  
  background-image: url("images/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    border: 2px solid red;
}
/* Dark overlay */
.hero-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(15, 23, 42, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Content */
.hero-content {
  max-width: 800px;
  padding: 20px;
  color: #ffffff;
}

/* Badge */
.hero-badge {
  display: inline-block;
  background-color: #ffffff;
  color: #16a34a;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 20px;
}

/* Heading */
.hero-content h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.3;
}

.hero-content h1 span {
  color: #22c55e;
}

/* Paragraph */
.hero-content p {
  font-size: 16px;
  color: #e5e7eb;
  line-height: 1.7;
  margin-bottom: 30px;
}

/* Buttons */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.btn-secondary {
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

.btn-secondary:hover {
  background-color: #ffffff;
  color: #1f2937;
}

/*Hero section End*/
